<!-- <div class="footer-modal">
    <div class="footer-modal__slice">
        <ul class="footer-modal__students">
            <li class="footer-modal__student">
                    <div class="footer-modal__foto">
                        <img class="footer-modal__img" src="./images/students-foto/Vitalina.jpg" alt="#" width="200"
                            height="200">
                        <h3 class="footer-modal__id">Team lid</h3>
                    </div>
                
                <div class="footer-modal-info">
                    <h3 class="footer-modal__name">Victor Rochnyak</h3>
                </div>

                <!-- icons -->
<!-- <div class="container-social">
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon GitHub" tooltip="Github">
                            <i class="fab fa-github fa-lg"></i>
                        </div>
                    </div>
                </a>
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon instagram" tooltip="Instagram">
                            <i class="fab fa-instagram fa-lg"></i>
                        </div>
                    </div>
                </a>
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon linkedin" tooltip="LinkedIn">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </div>
                    </div>
                </a>
                </div>
            </li>
        </ul>
    </div>
</div> -->

<!-- ! -->
<!-- <ul class="footer-modal__list">
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">git hub</use>
        </a>
    </li>
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">instagram</use>
        </a>
    </li>
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">LinkDin</use>
        </a>
    </li>
</ul> -->
<!-- ! -->



<!-- ! Akardeon-modal -->
<div class="container">
    <ul class="accordion">
        <li class="tabs">
            <div class="social-links twitter-icon">
                <a href="https://twitter.com">Twitter</a>
            </div>
            <div class="paragraph">
                <h1>Twitter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links facebook-icon"> <a href="https://facebook.com">Facebook</a> </div>
            <div class="paragraph">
                <h1>Facebook</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links linkedin-icon"> <a href="https://my.linkedin.com/">LinkedIn</a> </div>
            <div class="paragraph">
                <h1>LinkedIn</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links insta-icon"> <a href="http://instagram.com">Instagram</a> </div>
            <div class="paragraph">
                <h1>Instagram</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links youtube-icon"> <a href="https://youtube.com">Youtube</a> </div>
            <div class="paragraph">
                <h1>YouTube</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links tumblr-icon"> <a href="https://tumblr.com/">Tumblr</a> </div>
            <div class="paragraph">
                <h1>Tumblr</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li class="tabs">
            <div class="social-links dribbble-icon"> <a href="#">Dribbble</a>
            </div>
            <div class="paragraph">
                <img class="foto" src="/src/images/students-foto/Victor.jpg" width="100" height="70" alt="">
                <h1 class="text">Team Lid <br><span class="span">Victor Rochnyak</span> </h1>

                <ul class="footer-modal__modal ">
                    <li class="footer-modal__modal">
                        <!-- ! Icons -->
                        <div class="container-social__modal">
                            <a class="container-link__modal" href="#">
                                <div class="container-section__modal ">
                                    <div class="container-icon__modal GitHub" tooltip="==>">
                                        <i class="fab fa-github fa-lg"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="container-link__modal" href="#">
                                <div class="container-section__modal ">
                                    <div class="container-icon__modal instagram" tooltip="==>">
                                        <i class="fab fa-instagram fa-lg"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="container-link__modal" href="#">
                                <div class="container-section__modal ">
                                    <div class="container-icon__modal linkedin" tooltip="==>">
                                        <i class="fab fa-linkedin fa-lg"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- ? -->