<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <a href="#" class="footer-left__logo" lang="en">
        <svg class="footer-left__logo--animated" width="30" height="30">
          <use href="/src/images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="footer-left__title">Filmoteka</span> 
      </a>
    </div>
    <!-- Футер контакти -->
    <div class=" footer__section">
    <address class="address-footer">
      <b class="address-footer__contacts">CONTACT US</b>
      <a href="https://goo.gl/maps/B5wJ3eTb47fZjkf17" class="address-footer__text" target="_blank" rel="noopener noreferrer">
        <svg class="address-footer__icon" width="14" height="14">
          <use href="/src/images/svg/symbol-defs.svg#icon-location"></use>
        </svg>
        <span class="adres-map">Kyiv,  Evgena Konovaltsia Street 36</span>
      </a>
      <ul class="address-footer__item">
        <li class="address-footer__list">
          <a href="mailto:info@example.com" class="address-footer__link"  target="_blank" rel="noopener noreferrer">
            <svg class="address-footer__icon" width="14" height="14">
                <use href="/src/images/svg/symbol-defs.svg#icon-mail">
            </svg>
            info@example.com</a>
        </li>
        <li class="address-footer__link">
          <a href="tel:+380673269592" class="address-footer__link"  target="_blank" rel="noopener noreferrer">
            <svg class="address-footer__icon" width="14" height="14">
                <use href="/src/images/svg/symbol-defs.svg#icon-phone">
            </svg>
            +38 067 326 9592</a>
        </li>
      </ul>
    </address>

    <!-- футер соцеальні мережі -->
    <div class="footer-social">
      <b class="footer-social__join">SOCIAL</b>
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a href="#" class="footer-social__link" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
            <svg class="github" width="25" height="25">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-github"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="#" class="footer-social__link" aria-label="Linkedin" target="_blank" rel="noopener noreferrer">
            <svg class="github"  width="25" height="25">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-linkedin"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="#" class="footer-social__link" aria-label="instagram" target="_blank" rel="noopener noreferrer">
            <svg class="github"  width="25" height="25">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="#" class="footer-social__link" aria-label="Twitter" target="_blank" rel="noopener noreferrer" >
            <svg class="github"  width="25" height="25">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- Наші Додатки -->
    <div class="footer-aplication">
      <b class="footer-aplication__title">DOWNLOAD APP</b>
      <ul class="footer-aplication__list">
        <li class="footer-aplication__item">
          <a
            href="https://play.google.com/store/apps"
            class="footer-aplication__link" target="_blank" rel="noopener noreferrer" aria-label="Goole Play"
          >
            <svg class="google-svg" width="125" height="50">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-google-play-ua"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-aplication__item">
          <a
            href="https://www.apple.com/ua/app-store/"
            class="footer-aplication__link" target="_blank" rel="noopener noreferrer" aria-label="App Store"
          >
            <svg class="app-svg" width="120" height="50">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-app-store"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

    <!-- Копірайт -->
    <div class="footer-copyright">
      <p class="footer-copyright__text">
        <span class="footer-copyright__left"
          >© 2021 | All Rights Reserved |</span
        >
      </p>
      <p class="footer-copyright__students">
        <span class="footer-copyright__develop"> Developed with </span>
        <svg class="footer-copyright__icon" width="14" height="13">
          <use href="/src/images/svg/symbol-defs.svg#icon-Group-heart"></use>
        </svg>
        <span class="develop-by">by</span>
        <a class="footer-copyright__link">GoIT Students</a>
      </p>
    </div>
  </div>
</footer>
