<!-- ! Akardeon-modal -->
<div class="container__backdrop ">
  <!-- <button class="button-close"></button> -->
  <div class="modal-footer" id="modalsection">
    <ul class="accordion">
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images/students_minion/Victor.png"
          alt=""
        />
        <div class="social-links twitter-icon"></div>
        <div class="paragraph">
          <img
            class="foto"
            src="/src/images/students-foto/Victor-Rochnyak-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text">
            Team Lid <br /><span class="span">Victor Rochnyak</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images/students_minion/Vitalina.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto"
            src="/src/images/students-foto/Vitalina-Kovbasiyk-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text">
            Scrum master <br /><span class="span">Vitalina Kovbasiuk</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images/students_minion/Sasha-Barabash.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto"
            src="/src/images/students-foto/Oleksandr-Barabash-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text">
            Team Lead <br />
            assistant <br /><span class="span">Oleksandr Barabash</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images/students_minion/Ruslan-Negoda.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto foto-ruslan"
            src="/src/images/students-foto/Ruslan-Negoda-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text text-ruslan">
            Front-end <br />
            developer <br /><span class="span">Ruslan Negoda</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images//students_minion/Victor-Nikolenko.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto"
            src="/src/images/students-foto/Victor-Nikolenko-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text">
            Front-end <br />
            developer <br /><span class="span">Victor Nikolenko</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images//students_minion/Jeni.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto foto-jeni"
            src="/src/images/students-foto/Jeni-Leonidova-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text text-jeni">
            Front-end <br />
            developer <br /><span class="span">Jenny Leonidova</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images//students_minion/Andrey.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto foto-andrey"
            src="/src/images/students-foto/Andrey-Maximenko-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text text-andrey">
            Front-end <br />
            developer<br /><span class="span">Andriy Maximenko</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="tabs">
        <img
          class="img-minions"
          src="/src/images//students_minion/Rostislav.png"
          alt=""
        />
        <div class="paragraph">
          <img
            class="foto foto-rostislav"
            src="/src/images/students-foto/Rostislav-Kononenko1-sm.jpg"
            width="100"
            height="70"
            alt=""
          />
          <h1 class="text text-rostislav">
            Front-end <br />
            developer <br /><span class="span">Rostislav Kononenko</span>
          </h1>

          <ul class="footer-modal__modal">
            <li class="footer-modal__modal">
              <div class="container-social__modal">
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal GitHub" tooltip="✌">
                      <i class="fab fa-github fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal instagram" tooltip="✌">
                      <i class="fab fa-instagram fa-lg"></i>
                    </div>
                  </div>
                </a>
                <a class="container-link__modal" href="#">
                  <div class="container-section__modal">
                    <div class="container-icon__modal linkedin" tooltip="✌">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- ? -->
