<div class="footer-modal">
    <div class="footer-modal__slice">
        <ul class="footer-modal__students">
            <li class="footer-modal__student">
                    <div class="footer-modal__foto">
                        <img class="footer-modal__img" src="./images/students-foto/Vitalina.jpg" alt="#" width="200"
                            height="200">
                        <h3 class="footer-modal__id">Team lid</h3>
                    </div>
                
                <div class="footer-modal-info">
                    <h3 class="footer-modal__name">Victor Rochnyak</h3>
                </div>

                <!-- icons -->
                <div class="container-social">
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon GitHub" tooltip="Github">
                            <i class="fab fa-github fa-lg"></i>
                        </div>
                    </div>
                </a>
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon instagram" tooltip="Instagram">
                            <i class="fab fa-instagram fa-lg"></i>
                        </div>
                    </div>
                </a>
                <a class="container-link" href="#">
                    <div class="container-section ">
                        <div class="container-icon linkedin" tooltip="LinkedIn">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </div>
                    </div>
                </a>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- <ul class="footer-modal__list">
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">git hub</use>
        </a>
    </li>
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">instagram</use>
        </a>
    </li>
    <li class="footer-modsl__item">
        <a class="footer-modal__link" href="#" target="_blanck" rel="noopener noreferrer">
            <use href="#">LinkDin</use>
        </a>
    </li>
</ul> -->