<link rel="stylesheet" href="/src/sass/index.scss" />

<header class="header__library">
  <div class="container header__container">
    <a class="link" href="/src/index.html">
      <svg class="contact__icon" width="20" height="20">
        <use href="/src/images/svg/symbol-defs.svg#icon-film"></use>
      </svg>
      <span class="logo">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="navigation__menu list">
        <li class="navigation__item">
          <a class="navigation__link link" href="/src/index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a
            class="navigation__link current link"
            href="/src/partials/header-library.html"
          >
            My Library</a
          >
        </li>
        <li class="navigation__item">
          <a
            class="link"
            href="https://prytulafoundation.org/uk/home/support_page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="support__icon" width="60" height="40">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-Flag_of_Ukraine"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
   <form>
        <div role="group">
          <ul class="storage">
            <li class="storage__item">
              <label class="storage__label">
                <button class="storage__input visuallyhidden activ" >
                <span class="storage__btn" id="js-WatchedButton">Watched</span>
                </button>
              </label>
            </li>
            <li class="storage__item">
              <label class="storage__label">
                <button class="storage__input visuallyhidden">
                <span class="storage__btn" id="js-QueueButton">Queue</span>
                </button>
              </label>
            </li>
          </ul>
        </form>
</header>
<main>
  <section class="film-cards color">
  <h2 class="visually-hidden">Film cards</h2>
  <div class="cards__container container">
    <ul class="cards__list cards__list--home list">
      <div class="movie-card">
                <img width="280" height="402" class="movie-card__img" src="https://image.tmdb.org/t/p/w500///2EewmxXe72ogD0EaWM8gqa0ccIw.jpg" alt="" data-id="30984" loading="lazy">

                <div class="info">
                    <p class="info-item">
                        <b>Bleach</b>
                    </p>
                    <p class="info-item">
                        <b>Animation | 2004</b>
                    </p>
                    <p class="info-item">
                        <b>Comments</b>
                    </p>
                    <p class="info-item">
                        <b>Downloads</b>
                    </p>
                </div>
            </div>
            <div class="movie-card">
                <img width="280" height="402" class="movie-card__img" src="https://image.tmdb.org/t/p/w500///qvg75YJMfbHeDNirUrrgBMQImRn.jpg" alt="" data-id="1024530" loading="lazy">

                <div class="info">
                    <p class="info-item">
                        <b>Grimcutty</b>
                    </p>
                    <p class="info-item">
                        <b>Horror | 2022</b>
                    </p>
                    <p class="info-item">
                        <b>Comments</b>
                    </p>
                    <p class="info-item">
                        <b>Downloads</b>
                    </p>
                </div>
            </div>
    </ul>
  </div>
</section>
</main>