// left footer

.footer {
  background-color: #f7f7f7;
  // padding: 40px 0;
}
.footer__section {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around
  }
  border-bottom: 1px solid #ff6b08;
  padding-bottom: 20px;

  // @media screen and (min-width: 320px) and (max-width:767.98px) {
  //   width: 320px;
  //   border-bottom: 1px solid #ff6b08;
  // padding-bottom: 20px;
  // display: flex;
  // }
  // @media screen and (min-width: 768px) and (max-width:1280px) {
  //   width: 320px;
  //   border-bottom: 1px solid #ff6b08;
  // padding-bottom: 20px;
  // display: flex;
  // }
}
.footer-left {
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ff6b08;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    display: flex;
  }
}

.footer-left__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  // align-items: center;
  text-align: center;
}
.footer-left__logo {
  display: flex;
  justify-content: center;
  // @media screen and (max-width: 479.98px) {
  //   width: 320px;
  //   justify-content: center;
  // }
  // @media screen and (min-width: 480px) and(max-width:767.98px) {
  //   width: 480px;
  //   justify-content: center;
  // }
}
.footer-left__logo--animated {
  margin: 2px 9px 0 0;
  animation: pulsing 3s infinite;
  @keyframes pulsing {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}
.footer-aplication__title {
  //   @media screen and (min-width:1200px) {
  //     margin-bottom: 5px;
  //  }

  //   @media screen and (min-width: 768px) and (max-width:1200px) {
  //      margin-bottom: 6px;
  //   }
}

.address-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.address-footer {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    display: block;
    font-size: 16px;
  }
}
.address-footer__contacts {
  font-size: 16px;
  margin-bottom: 5px;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
.address-footer__text {
  margin-bottom: 5px;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 14px;
  }
  // align-items: center;
  // display: flex;
  // margin-top: 10px;
  // margin-bottom: 5px;
}
.address-footer__icon {
  margin-right: 5px;
}
.address-footer__link {
  display: flex;
  align-items: center;
}
.address-footer__list {
  margin-bottom: 8px;
}
.address-footer__item {
}
// centr footer
.footer-social {
  
  margin-bottom: 10px;
}
.footer-social {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
.footer-social__join {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 9px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.footer-social__list {
  display: flex;
  justify-content: center;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__item {
  display: flex;
  width: 44px;
  height: 44px;
  border: 1px solid #ff6b08;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 50px;
    height: 50px;
  }
}
.footer-social__link{
  
}
// right footer
.footer-aplication {
  

  &__title {
    text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
    margin-bottom: 5px;
    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.github {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
  display: flex;
  fill: #ff6b08;
 
}

// copyright footer
.footer-copyright {
  padding-top: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-copyright__students {
  display: flex;
  align-items: center;
}
.footer-copyright__develop {
  margin: 0 10px 0 2px;
}
.footer-copyright__icon {
  fill: #ff6b08;
  margin-right: 10px;
  animation: Scale 0.7s ease infinite alternate;
  @keyframes Scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
}

.develop-by {
  margin-right: 2px;
}
.footer-copyright__link {
  border-bottom: 1px solid #ff6b08;
}

.adres-map {
  // @media screen and (min-width: 768px) and (max-width: 1280px) {
  //   font-size:13px;
  // }
}
.address-footer__list {
  // @media screen and (min-width: 768px) and (max-width: 1280px) {
  //   font-size:13px;
  // }
}
.footer-social__item {
  // @media screen and (min-width: 768px) and (max-width: 1280px) {
  //   width: 36px;
  //   height: 36px;

  // }
}
.github {
  
}
.google-svg {
  @media screen and (min-width:1200px) {
   width: 150px;
   height: 50px;

  }
}
.app-svg {
  @media screen and (min-width:1200px) {
    width: 139px;
    height: 50px;
 
   }
}

// @media screen and (min-width: 320px) and (max-width:767.98px){
//   width: 320px;
//     padding-left: 20px;
//     padding-right: 20px;
// }
.footer-aplication{}