// !----------icon css---------------
.container-social__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.container-icon__modal {
  background-color: #000;
  color: #fff;
  width: 36px;
  height: 36px;
  margin: 0px 7px 0px;
  padding: 5px 5px 5px 9px;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  background-color: rgb(2, 2, 2);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(32, 29, 29, 0.9);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 200ms;
}
.container-icon__modal:last-child {
  margin-right: 7px;
}
.container-icon {
  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
    padding: 5px 5px 5px 12px;
  }
}


.container-icon__modal:after {
  content: attr(tooltip);
  margin-left: 15px;
}
.footer-modal__modal {
  position: absolute;
  top: 60%;
  left: 49%;
}

// ?---Variables Modal-Acardeon--------------------

.accordion {
  width: 100%;
  // min-width: 950px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}
.tabs {
  cursor: pointer;
  display: inline-block;
  background-color: #3c3c3c;
  // border-right: #dcdcdc 1px solid;
  border-right: 1px solid hsl(240deg 5% 3%);
  width: 70px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  // -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  border-radius: 5px;
}
.tabs:hover {
  width: 450px;
}
.tabs .paragraph {
  position: relative;
  width: 364px;
  margin-left: 80px;
  padding: 10px 10px 10px 10px;
  height: 200px;
  background-image: linear-gradient(to left, #526d94, #828eae, #adb2c8, #d7d7e3, #ffffff);
}
.text{
  font-size: 25px;
  margin-bottom: 74px;
  margin-left: 27px;
  text-align: center;
}
.text-ruslan{
  margin-left: 24px;
}
.text-jeni{
  margin-left: 48px;
}
.text-andrey{
  margin-left: 39px;
}
.text-rostislav{
  margin-left: 18px;
}
.social-links a:before,
.social-links a:after {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}
.paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}
.span {
  font-size: 20px;
}
.foto {
  width: 140px;
  height: 100%;
  border-radius: 5px;
}
.text{
  font-family:'Times New Roman', Times, serif;
}


// !----footer-style----


.img-minions{
  display: flex;
 width: 70px;
 height: 80px;
 
}
.footer-copyright__link{
  cursor: pointer;
}

.modal-footer{
  position: relative;
  max-width: 559px;
  margin: auto;
  color: #000;
  cursor: default;
}
.foto-ruslan{
width: 150px;
height: 80%;
}
.foto-jeni{
width:34%;
height:93%;
}
.foto-andrey{
  width: 116px;
  height: 95%;
}
.foto-rostislav{
  height: 84%;
}
// !icons
.img-minions{
  position: absolute;
  top:30%;
  width: 76px;
}

// !----modal--
// .button-close{
//   background-color: #7adcf9;
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   top: 12%;
//   left:78%;
// }




// $basicLightbox__background: rgba(0, 0, 0, .8);
$basicLightbox__background: rgba(0, 0, 0, .8); // Background color
$basicLightbox__zIndex: 1000; // Stack order
$basicLightbox__duration: .4s; // Transition duration
$basicLightbox__timing: ease; // Transition timing
$basicLightbox__zIndex: 1000 !default;
$basicLightbox__duration: .4s !default;
$basicLightbox__timing: ease !default;



// basicLightbox ------------------------------------------------------- //
.basicLightbox {
  
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(21, 232, 123, 0.6), rgba(53, 65, 198, 0.6));
  background: $basicLightbox__background;
  
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .01; // Start with .01 to avoid the repaint that happens from 0 to .01
  transition: opacity $basicLightbox__duration $basicLightbox__timing;
  z-index: $basicLightbox__zIndex;
  will-change: opacity;

  &--visible {
    opacity: 1;
  }

  &__placeholder {
    max-width: 100%;
    transform: scale(.9);
    transition: transform $basicLightbox__duration $basicLightbox__timing;
    z-index: 1;
    will-change: transform;

    > img:first-child:last-child,
    > video:first-child:last-child,
    > iframe:first-child:last-child {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 95%;
      max-height: 95%;
    }

    > video:first-child:last-child,
    > iframe:first-child:last-child {
      pointer-events: auto;
    }

    > img:first-child:last-child,
    > video:first-child:last-child {
      width: auto;
      height: auto;
    }
  }

  &--img &__placeholder,
  &--video &__placeholder,
  &--iframe &__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--visible &__placeholder {
    transform: scale(1);
    @media screen and (min-width: 1899px){
      transform: scale(2);
    }
  }

}

.basicLightbox.basicLightbox--visible{
  @media screen and (max-width:1198px) {
    display: none;
    
  }
}
.container-icon__modal:hover{
  background-color: #ff6b08;
  box-shadow: 5px 5px 8px rgba(235, 97, 6, 0.9);
  transition: 300ms ease-in-out 0s;
}