
.cards__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-bottom: -32px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: -16px;
  }
}
.movie-card {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: scale 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 0px 15px 10px rgba(255, 120, 0);
    scale:(1.02);
    // & .films__img {
    //   opacity: 0.7;
    // }
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 64px) / 2);
    margin-left: 32px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 48px) / 3);
    margin-left: 16px;
  }
}

.cards__list:hover > .movie-card:not(:hover) .films__img {
  filter: brightness(0.6) saturate(1) contrast(1) blur(1px);
}


.films__img {
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  filter: brightness(1.2) saturate(1) contrast(1);
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 300ms linear, transform 200ms linear, scale 250ms;
  // opacity: 1;
  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.cards__list {

  padding-top: 20px;
  @media screen and (min-width: 768px) {
      padding-top: 60px;
    }

}
.info {
  padding: 10px 5px 2px;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }

}
.info-item {
  font-weight: 500;
font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 2px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
      line-height: 24px;
  }
}
.info-item:not(:first-child){
  display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--accent-color);
    text-transform:none;
    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
      }
}
.film__rating{
  position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    background-color: var(--accent-color);
    color: var(--second-text-color);
    border-radius: 5px;
}


// !header-pictures-wromg
.img-wrong{
  margin: auto;

}

