.header__library {
    padding-top: 40px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    // width: 100%;
    background-image: url(../images/mob-background-library-1x.jpeg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/mob-background-library-2x.jpeg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/tab-background-library-1x.jpeg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/tab-background-library-2x.jpeg);
      }
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/desk-background-library-1x.jpeg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/desk-background-library-2x.jpeg);
      }
    }
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 41px;
  }
  
  .navigation {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
  }
  .navigation__menu {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
  .logo {
    //   visibility: hidden;
    display: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  
    @media screen and(min-width: 760px) {
      display: flex;
      align-items: center;
    }
  }
  
  .contact__icon {
    margin-right: 10px;
    @media screen and (min-width: 768px) {
      animation: rotation 4s infinite;
      @keyframes rotation {
        50% {
          transform: rotate(180deg) scale(0.5);
        }
      }
    }
    cursor: pointer;
  }
  .support__icon {
    animation: pulse 4s infinite;
  
    @keyframes pulse {
      50% {
        transform: scale(0.5);
      }
    }
  }
  .navigation__link {
    position: relative;
    padding: 5px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: #ff001b;
  }
  
  .storage {
    display: flex;
    justify-content: space-between;
  
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  
  .storage__item:first-child {
    @media screen and (min-width: 768px) {
      margin-right: 15px;
    }
  }
  
  .storage__btn {
    display: block;
  
    padding-top: 14px;
    padding-bottom: 12px;
  
    min-width: 130px;
  
    @media screen and (min-width: 768px) {
      min-width: 136px;
    }
  
    text-align: center;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  
    color: #ffffff;
  
    cursor: pointer;
  
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  
  .storage__input:checked ~ .storage__btn {
    background-color: #ff6b08;
    border: 1px solid #ff6b08;
    color: #ffffff;
  }